
main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  max-width: 100vw;
}

header {
  padding: .5rem 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  font-size: 40px;
  font-weight: 500;
}

.heading {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 24px;
}

.wrapper {
  display: flex;
  margin-inline: auto;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.feature {
  display: flex;
  flex-direction: column;
  gap:12px;

  .title {
    font-size: 24px;
  }

  .container {
    display: flex;
    gap: 24px;

    .item {
      display: flex;
      gap: 12px;

      img {
        width: 100px;
        height: 100px;
        border-radius: 12px;
      }
    }
  }
}



.model {
  border-radius: 20px;
display:flex;
justify-content: center;
align-items: center;
height: 516px;
aspect-ratio: 1;
  .image {
    aspect-ratio: 1 / 1;
    border-radius: 24px;
  }
}

@media (max-width: 1000px) {
  .heading { 
    font-size: 36px;
    line-height: 40px;
  }
  .wrapper {
    flex-direction: column;
  }

  .feature .container .item img {
    width: 50px;
    height: 50px;
  }

  .model {
    height: 280px;
  }


}

.container {
  max-width: 1440px;
  width: 100%;
  margin-inline: auto;
  padding: 0 16px;
}

.drop-shadow-xl-top {
  filter: drop-shadow(0 -20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 -8px 5px rgb(0 0 0 / 0.08));

}
